{% extends 'base.html.twig' %}

{% block title %} {{annonce.title }} {% endblock %}

{% block body %}

     <div class="container">
        <div class="caroulix" id="carousel" data-ax="caroulix" data-ax-caroulix-autoplay-enabled="true" data-caroulix-indicators-enabled="true">
                <div class="caroulix-arrow caroulix-prev">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="caroulix-arrow caroulix-next">
                    <i class="fas fa-chevron-right"></i>
                </div>
                {% for image in annonce.images %}
                     <div class="caroulix-item">
                        <img src="{{ 
                    asset('uploads/images/annonces/'~ image.name)|imagine_filter('banniere')}}"
                    alt="{{ annonce.title }}"
                         alt="img1" />
                    </div>
                 {% endfor %}
               
        </div>

        <div class="card shadow-1 fx-row">
            <div class="primary d-flex vcenter fx-center px-4">
                    {# <img src="{{ 
                    asset('uploads/images/annonces/'~ annonce.images[0].name)|imagine_filter('square')}}"
                    alt="{{ annonce.title }}" >  #}
            </div>
            <div class="flex fx-col fx-grow">
                <div class="card-header">{{ annonce.title }}</div>
                    <div class="card-content">
                    <p>Categorie : {{ annonce.categories.name }}</p>
                    <p>
                        {{ annonce.content|raw }}.
                    </p>
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}

{% block javascripts %}
    <script>
        let caroulix = new Caroulix('#carousel');
    </script>

{% endblock %}
